[submodule "neo6m"]
	path = neo6m
	url = git@github.com:muonTelescope/neo6m.git
[submodule "mppc-interface"]
	path = mppc-interface
	url = git@github.com:muonTelescope/mppc-interface.git
[submodule "coincidence"]
	path = coincidence
	url = git@github.com:muonTelescope/coincidence.git
[submodule "mpl3115a2"]
	path = mpl3115a2
	url = git@github.com:Sawaiz/mpl3115a2.git
[submodule "sht3x"]
	path = sht3x
	url = git@github.com:Sawaiz/sht3x.git
